[Unit]
Description=Publishes the online status of the device on the MQTT topic <hostname>/connected
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
DynamicUser=true
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/mqtt-hostname-online --host <fillthis>

[Install]
WantedBy=multi-user.target
